@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>This is a CRUD application created with ASP.NET MVC, Entity Framework, and SQL Server database. <br /></h5>
    <p>
        It presents information about games added to database. <br />
        At the moment you can Create, Display, Edit and Delete each record of Game table in database. <br />
        Check the "Games" tab in navigation bar or click <a class="text-dark font-weight-bold" asp-area="" asp-controller="Games" asp-action="Index">HERE</a>
    </p>
    <h5>Added functionalities:</h5>
    <div class="container justify-content-center w-50">
        <ul class="list-group-flush">
            <li class="list-group-item">Search bar</li>
            <li class="list-group-item">Filtering by Genre</li>
            <li class="list-group-item">Seed data when all records deleted</li>
            <li class="list-group-item">Form data validation</li>
        </ul>
    </div>
    <p>
        
    </p>
</div>
